<ion-view view-title="Forgot Password?">
<!--    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>-->
    <ion-content>
        <div>
            <brand-effect />
        </div>
        <form name="changePasswordForm" ng-submit="vm.changePassword()">
            <div class="padding">
                <div class="list">
                    <label class="row item item-input">
                        <span class="input-label" placeholder="Old Password">Old Password</span>
                        <input type="password" name="old_password" ng-model="vm.old_password" required>
                    </label>
                    <div ng-show="changePasswordForm.$submitted || changePasswordForm.old_password.$touched" class="error-message">
                        <span ng-show="changePasswordForm.old_password.$error.required">Tell us your old password.</span>
                    </div>
                    <label class="row item item-input">
                        <span class="input-label" placeholder="New Password">New Password</span>
                        <input type="password" name="new_password" ng-model="vm.new_password" required>
                    </label>
                    <div ng-show="changePasswordForm.$submitted || changePasswordForm.new_password.$touched" class="error-message">
                        <span ng-show="changePasswordForm.new_password.$error.required">Tell us your new password.</span>
                    </div>
                    <label class="row item item-input">
                        <span class="input-label" placeholder="Confirm Password">Confirm Password</span>
                        <input type="password" name="confirm_password" ng-model="vm.confirm_password" required>
                    </label>
                    <div ng-show="changePasswordForm.$submitted || changePasswordForm.confirm_password.$touched" class="error-message">
                        <span ng-show="changePasswordForm.confirm_password.$error.required">Confirm your new password.</span>
                    </div>
                    <div class="row">
                        <button type="submit" class="button button-full button-balanced button-flat col">Change Password</button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
